<h1>New Redirect</h1>

<% if flash[:messages] %>
    <p class="text-warning"><%= flash[:messages] %></p>
<% end %>

<%= form_with model: @redirect do |form| %>
  <div class="form-group">
    <%= form.label :domain %>
    <%= form.text_field :domain, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit "Create", class: 'btn btn-primary' %>
    <%= link_to "Back", {controller: "redirects", action: "index"}, class: "btn btn-primary" %>
  </div>
<% end %>